/*Je suis un commentaire*/
body {
    /*background-color: white;*/
    font-family:'Open Sans';
}

h1 {
    font-size: 100px;
    font-style: italic;
    text-align: center;

}

p {
    font-size: 150%;
    font-style: oblique;
}

#p1 {
    color:Silver;
}

#para {
    font-weight: bold;
}
.p1 {
    color: red;
}

.div-para {
    background-color: #88BB11;
}

.span-trois {
    color: blue;
}
/* h1,p{
    font-size:8px;
    color:blue;
    font-weight: bold;

} */

